<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <link href="~/Content/jquery.toast.min.css" rel="stylesheet" />
</head>
<body>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="top-header">
                    <div class="col-lg-2 col-xs-12 col-sm-2 col-md-2">

                    </div>
                    <div class="col-xs-12 col-sm-8 col-lg-8 col-md-8">
                        <div class="seachBox">
                            <select class="chosen-select" data-live-search="true" id="AgentHotelList"></select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-12 col-sm-2 col-md-2">
                        <div class="common-nav">
                            <ul>
                                <li>
                                    <div class="UserProfile">
                                        <span class="myButton pull-right"><img src="~/Content/images/user.png" /> <img src="~/Content/images/sort-down.svg" /></span>
                                    </div>
                                    <div class="nav-drop">
                                        <div class="triangle-with-shadow">

                                        </div>
                                        <div class="drop_body">
                                            <p>Welcome @Session["AgentName"]</p>
                                            <ul>
                                                <li><a href="javascript:void(0)" onclick="transfer(this);" flag="A"><i class="fa fa-plus"></i> Add Hotel</a></li>
                                                <li><a href="javascript:void(0)">Change Password</a></li>
                                                <li>@Html.ActionLink("Logout", "logout")</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="navigation">
                <ul>
                    <li>
                        <a href="/Agent/Index/">
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="javascript:Void(0)">
                            Booking
                        </a>
                    </li>
                    <li>
                        <a href="/Agent/Inventory/">
                            Inventory
                        </a>
                    </li>
                    <li>
                        <a href="/Agent/property/">
                            Property
                        </a>
                    </li>
                    <li>
                        <a href="javascript:Void(0)">
                            Offer & Secret Deal
                        </a>
                    </li>
                    <li>
                        <a href="javascript:Void(0)">
                            Reports
                        </a>
                    </li>
                    <li>
                        <a href="javascript:Void(0)">
                            Rating & Reviews
                        </a>
                    </li>
                    <li>
                        <a href="javascript:Void(0)">
                            Add Ons
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()

    @Scripts.Render("~/bundle/jquery")
    <script src="~/scripts/jquery.toast.min.js"></script>
    <script src="~/scripts/wickedpicker.js"></script>
    <script src="~/scripts/chosen.jquery.js"></script>
    <script type="text/javascript">
        var HotelFlag="";
        $(document).ready(function () {
            
            BindCountryDropDown('Country');
            $("select").chosen();
            GetAgentHotelList();
            GetRoomList();
            var options = {
                now: "12:35", //hh:mm 24 hour format only, defaults to current time
                twentyFour: true, //Display 24 hour format, defaults to false
                upArrow: 'fa fa-angle-up', //The up arrow class selector to use, for custom CSS
                downArrow: 'fa fa-angle-down', //The down arrow class selector to use, for custom CSS
                close: 'fa fa-times', //The close class selector to use, for custom CSS
                hoverState: 'hover-state', //The hover state class to use, for custom CSS
                title: 'Timepicker', //The Wickedpicker's title,
                showSeconds: false, //Whether or not to show seconds,
                secondsInterval: 1, //Change interval for seconds, defaults to 1  ,
                minutesInterval: 1, //Change interval for minutes, defaults to 1
                beforeShow: null, //A function to be called before the Wickedpicker is shown
                show: null, //A function to be called when the Wickedpicker is shown
                clearable: false, //Make the picker's input clearable (has clickable "x")
            };
            $('.timepicker').wickedpicker(options);
            bindRoomView();
        });

        function InsertHotelBasicInfo() {
            var Hotel = {
                HotelName: $('#hotelName').val(),
                HotelFloor: $('#HotelFloor').val(),
                HotelType: $('#HotelType').val(),
                DisplayName: $('#DisplayName').val(),
                HotelStar: $('#HotelStar').val(),
                HotelBuiltYear: $('#BuiltYear').val(),
                HotelRooms: $('#HotelRooms').val(),
                HotelCheckInTime: $('#HotelCheckInTime').val(),
                HotelCheckOutTime: $('#CheckOutTime').val(),
                StreetAdress: $('#StreetAdress').val(),
                Locality: $('#Locality').val(),
                Country: $('#Country').val(),
                State: $('#State').val(),
                City: $('#City').val(),
                ZipCode: $('#ZipCode').val(),
                AgentID: ""
            }
            if(Hotel.HotelName=="")
            {
                calltoast("Enter Hotel Name.");
                return false;
            }
            if(Hotel.DisplayName=="")
            {
                calltoast("Enter Display Name.");
                return false;
            }
            if(Hotel.StreetAdress=="")
            {
                calltoast("Enter Street Address.");
                return false;
            }
            if(Hotel.State==null)
            {
                calltoast("Please select State.");
                return false;
            }
            if(Hotel.City==null)
            {
                calltoast("Please select City.");
                return false;
            }
            if(Hotel.ZipCode=="")
            {
                calltoast("Enter Zip Code.");
                return false;
            }

            $.ajax({
                type: 'POST',
                url: "@Url.Action("SaveHotelBasics", "Agent")",
                contentType: "application/json",
                data: JSON.stringify({ hotelBasics: Hotel }),
                success: function (data) {
                    if(data==2)
                    {
                        $.toast({
                            heading: 'Success',
                            text: 'Basic info is added ,please add contact.',
                            icon: 'success',
                            position: 'bottom-right'
                        });

                        $('#1').removeClass('active');
                        $('#basicInfo').removeClass('active in')
                        $('#2').removeClass('disabled').addClass('active');
                        $('#contact').addClass("in active");
                    }
                    else
                    {
                        $.toast({
                            heading: 'Error',
                            text: 'Error Found While Adding Hotel Basic Info.',
                            icon: 'error',
                            position: 'bottom-right'
                        });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }

        function InsertHotelContactInfo() {
            var hotelContact =
                {
                    HotelPhone: $('#HotelPhone').val(),
                    HotelMobile: $('#HotelMobile').val(),
                    HotelEmail: $('#HotelEmail').val(),
                    HotelPhoneList: $('#HotelPhoneList').val(),
                    HotelEmailList: $('#HotelEmailList').val(),
                    HotelWebsiteList: $('#HotelWebsiteList').val()
                }
            $.ajax({
                type: 'POST',
                url: "@Url.Action("SaveHotelContact", "Agent")",
                contentType: "application/json",
                data: JSON.stringify({ hotelContactInfo: hotelContact }),
                success: function (data) {
                    if (data == "2") {
                        $.toast({
                            heading: 'Success',
                            text: 'Hotel Contact Details Has Been Added.',
                            icon: 'success',
                            position: 'bottom-right'
                        });
                        $('#2').removeClass('active');
                        $('#contact').removeClass('active in')
                        $('#3').removeClass('disabled').addClass('active');
                        $('#rooms').addClass("in active");
                    }
                    else {
                        $.toast({
                            heading: 'Error',
                            text: 'Error Found While Adding Hotel Contact Detail',
                            icon: 'error',
                            position: 'bottom-right'
                        })
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }
        function GetAgentHotelList()
        {
            HotelFlag="E";
            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetHotelList","Agent")",
                contentType: "application/json",
                data: JSON.stringify({ agentId: @Session["AgentId"] }),
                success:function(data)
                {
                    if(data.length>0)
                    {
                        BindHotelList("AgentHotelList",data);
                        $('.Lagend_hotel_add').removeClass("bounceInRight");
                        $('.Lagend_hotel_add').css('display','none');
                        $(".tab-content").attr('HotelData',$("#AgentHotelList").val()+"~"+$("#AgentHotelList").text())
                        $('.tab-header li').each(function()
                        {
                            $(this).removeClass('disabled')
                        });
                        GetHotelData();
                    }


                },
                error:function()
                {

                }
            })
        }


        function BindHotelList(ddlID, data) {
            try {
                var select = document.getElementById(ddlID);
                $.each(data, function (i, item) {
                    var option = document.createElement("option");
                    option.text = item.DisplayName;
                    option.value = item.HotelID;
                    if (option != null) select.appendChild(option);
                });
                $('#'+ddlID).trigger("chosen:updated");
                // $('select').selectpicker('refresh');

            }
            catch (e) {

            }
        }
        function SaveHotelRoomData()
        {
            var roomData =
             {
                 RoomsDesc: $('.RoomsDesc').val(),
                 RoomType: $('#roomType').val() ,
                 DisplayName: $('#displayName').val(),
                 TotalRoom: $('#totalRoom').val(),
                 BedType: $('#bedType').val(),
                 ExtraBedType: $('#extraBed').val(),
                 RoomView: $('#roomView').val(),
                 MinAdult: $('.minAdult').val(),
                 MaxAdult: $('.maxAdult').val(),
                 MinChild: $('.minChild').val(),
                 MaxChild: $('.maxChild').val(),
                 MaxInfant: $('.maxInfant').val(),
                 MaxGuest: $('.maxGuest').val()
             }
            $.ajax({
                type: 'POST',
                url: "@Url.Action("SaveHotelRoom", "Agent")",
                contentType: "application/json",
                data: JSON.stringify({ hotelRoom: roomData }),
                success: function (data)
                {
                    if(data==1)
                    {
                        $.toast({
                            heading: 'Success',
                            text: 'Room Details Has Been Added.',
                            icon: 'success',
                            position: 'bottom-right'
                        });
                        $('#2').removeClass('active');
                        $('#contact').removeClass('active in')
                        $('#3').removeClass('disabled').addClass('active');
                        $('#rooms').addClass("in active");
                    }
                    else
                    {
                        $.toast({
                            heading: 'Error',
                            text: 'Error Found While Adding Room Detail',
                            icon: 'error',
                            position: 'bottom-right'
                        })
                    }
                    console.log(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }

        function bindRoomView()
        {
            var monthNames=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
            var count=5;
            var date=new Date();
            var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
            var table="<table cellspacing='10' class='table table-hover roomInventory'>";
            table+="<thead><tr><td>Rooms</td>";
            for(var i=0;i<count;i++)
            {
                table+="<td><span>"+parseInt(firstDay.getDate()+i)+"</span><span>" +monthNames[date.getMonth()]+","+date.getFullYear() +"</span></td>";
            }
            table+="</tr></thead>";
            table+="<tbody>";
            for(var i=0;i<count;i++)
            {
                table+='<tr><td>Details</td><td><ul class="bedgesList"><li><span class="label label-success">4</span></li><li><span class="label label-danger">4</span></li><li><span class="label label-warning">4</span></li><li><span class="label label-info">4</span></li></ul><label><input type="checkbox" value="">Block</label></td><td>Details</td><td>Details</td><td>Details</td><td>Details</td></tr>';
            }
            table+="</tbody></table>"
            $("#roomVLayout").html(table);
        }

        $('#txtUploadFile').on('change', function (e) {

            var files = e.target.files;
            var myID = 3;
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Agent/UploadHomeReport?id=' + myID,
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            console.log(result);
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        });

        function viewRatePlan(e)
        {
            $(e).toggleClass("fa-eye-slash fa-eye");
            var rowIndex=0;
            if($(e).hasClass("fa-eye"))
            {
                var newRow="<tr><td colspan='5'><table class='table table-bordered table-hover'><thead><tr><th>Plan Name</th><th>Meal Plan</th><th>Status</th><th>Payment Mode</th><th>Action</th></tr></thead></table></td></tr>";
                rowIndex=$(e).closest('td').parent()[0].sectionRowIndex
                $(".roomTable tbody tr").eq(rowIndex).after(newRow);
            }
            else
            {
                rowIndex=$(e).closest('td').parent()[0].sectionRowIndex
                $(".roomTable tbody tr").eq(rowIndex+1).remove();
            }
        }

        function GetRoomList()
        {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetRoomList", "Agent")",
                contentType: "application/json",
                data: JSON.stringify({ HotelID: "" }),
                success: function (data) {
                    var row="";
                    var table=document.getElementById("roomTable");
                    if(data.length > 0)
                    {
                        $.each(data,function(i,item)
                        {
                            var roomData=item.ID+"~"+item.RoomsDesc+"~"+item.RoomType+"~"+item.DisplayName+"~"+item.TotalRoom+"~"+item.BedType+"~"+item.ExtraBedType+"~"+item.RoomView+"~"+item.MaxAdult+"~"+item.MaxChild+"~"+item.MaxGuest+"~"+item.MaxInfant+"~"+item.MinAdult+"~"+item.MinChild;
                            row+='<tr><td>'+item.DisplayName+'</td><td>'+item.RoomsDesc+'</td>';
                            row+='<td><i class="fa fa-pencil roomEdit" id="edit'+i+'" roomData="'+roomData+'" onclick="EditRoom(this);" title="Edit"></i>';
                            row+='<i class="fa fa-times" title="Delete"></i></td>';
                            row+='<td><input type="checkbox" id="check'+i+'" value="">Active</td>';
                            row+='<td><i class="fa fa-plus" title="Add plan" onclick="GetRoomID(this);" data-toggle="modal" data-target="#addRatePlan"></i><i class="fa fa-eye-slash" onclick=" viewRatePlan(this);" title="View plan"></i></td></tr>';
                            if(item.IsActive==1)
                            {
                                $("#check"+i).prop('checked', true);
                            }
                            else
                            {
                                $("#check"+i).prop('checked', false);
                            }



                        });
                        $('#roomTable tbody').html(row);
                    }
                    else
                    {
                        row="<tr><td colspan='5' align='center'>No record found.</td></tr>";
                        $('#roomTable tbody').html(row);
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }
        function GetRoomID(e)
        {
            var item = $(e).closest("tr").find(".roomEdit");
            var roomID=item.attr("roomData").split('~')[0];
            $("#rateBtn").attr("roomID",roomID);
        }
        $('#rateBtn').click(function()
        {
            var IsRefund="0";
            if ($('#refundVal').is(':checked'))
            {
                IsRefund="1";
            }
            var Hotel = {
                IsRefundable: IsRefund,
                MealPlan: $('.mealPlan').val(),
                PaymentMode: $('.payMode').val(),
                PlanName:$('.planName').val(),
                RoomID: $(this).attr("roomID"),
            }

            $.ajax({
                type:'POST',
                url:"@Url.Action("SaveRoomPlan", "Agent")",
                contentType: "application/json",
                data: JSON.stringify({ Details: Hotel }),
                success:function(data)
                {
                    if(data==1)
                    {
                        $.toast({
                            heading: 'Success',
                            text: 'Room Plan Has Been Added.',
                            icon: 'success',
                            position: 'bottom-right'
                        });
                        $('.mealPlan').val('');
                        $('.payMode').val('');
                        $('.planName').val('');
                    }
                    else
                    {
                        $.toast({
                            heading: 'Error',
                            text: 'Room Plan Has Beend Added.',
                            icon: 'error',
                            position: 'Something Went Wrong While Adding Rate Plan.'
                        });
                    }
                }
            });
        });
        function GetHotelData()
        {
            try
            {
                if(HotelFlag!="A")
                {
                    var hotelId=$('.tab-content').attr("HotelData");
                    if(hotelId.length > 0)
                    {
                        hotelId=hotelId.split('~')[0];
                        $.ajax({
                            type:'POST',
                            url:"@Url.Action("GetHotelData","Agent")",
                            contentType:"application/json",
                        data:JSON.stringify({HotelID : hotelId}),
                        success:function(data)
                        {
                            if(data.length > 0)
                            {
                                var HotelJson=JSON.parse(data);
                                $("#hotelName").val(HotelJson.BasicInfo[0].HotelName);
                                $("#HotelFloor").val(HotelJson.BasicInfo[0].HotelFloor);
                                $("#CheckOutTime").val(HotelJson.BasicInfo[0].CheckOutTime);
                                $("#HotelType").val(HotelJson.BasicInfo[0].HotelType);
                                $("#HotelType").trigger("chosen:updated");
                                $("#BuiltYear").val(HotelJson.BasicInfo[0].HotelBuildYear);
                                $("#DisplayName").val(HotelJson.BasicInfo[0].HotelDisplayName);
                                $("#HotelStar").val(HotelJson.BasicInfo[0].HotelStar);
                                $("#HotelStar").trigger("chosen:updated");
                                $("#HotelRooms").val(HotelJson.BasicInfo[0].HotelRooms);
                                $("#HotelCheckInTime").val(HotelJson.BasicInfo[0].CheckInTime);
                                $("#StreetAdress").val(HotelJson.BasicInfo[0].StreetAddress);
                                $("#Locality").val(HotelJson.BasicInfo[0].Locality);
                                $("#Country").val(HotelJson.BasicInfo[0].Country);
                                $("#Country").trigger("chosen:updated");
                                $("#Country").trigger("change");
                                $("#State").val(HotelJson.BasicInfo[0].State);
                                $("#State").trigger("chosen:updated");
                                $("#State").trigger("change");
                                $("#City").val(HotelJson.BasicInfo[0].City);
                                $("#City").trigger("chosen:updated");
                                $("#ZipCode").val(HotelJson.BasicInfo[0].ZipCode);
                                $("#submitHote").val("Update & Continue");

                                $("#HotelPhone").val(HotelJson.ContactInfo[0].HotelPhone);
                                $("#HotelEmail").val(HotelJson.ContactInfo[0].HotelEmail);
                                $("#HotelEmailList").val(HotelJson.ContactInfo[0].HotelEmailList);
                                $("#HotelMobile").val(HotelJson.ContactInfo[0].HotelMobile);
                                $("#HotelPhone").val(HotelJson.ContactInfo[0].HotelPhone);
                                $("#HotelPhoneList").val(HotelJson.ContactInfo[0].HotelPhoneList);
                                $("#submitHotelContact").val("Update & Continue");
                            }
                        },
                        error:function(textStatus)
                        {

                        }
                    })
                }
                }
               
            }
            catch(e)
            {
                console.log(e.message);
            }

        }///
        function transfer(e)
        {
            HotelFlag=$(e).attr("flag");
            window.location.href="/Agent/property";
            GetHotelData();
        }
    </script>
</body>
</html>
