<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <link href="~/Content/jquery.toast.min.css" rel="stylesheet" />
</head>
<body>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="top-header">
                    <div class="col-lg-2 col-xs-12 col-sm-2 col-md-2">

                    </div>
                    <div class="col-xs-12 col-sm-8 col-lg-8 col-md-8">
                        <div class="seachBox">
                            <select class="chosen-select" data-live-search="true" id="AgentHotelList"></select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-12 col-sm-2 col-md-2">
                        <div class="common-nav">
                            <ul>
                                <li>
                                    <div class="UserProfile">
                                        <span class="myButton pull-right"><img src="~/Content/images/user.png" /> <img src="~/Content/images/sort-down.svg" /></span>
                                    </div>
                                    <div class="nav-drop">
                                        <div class="triangle-with-shadow">

                                        </div>
                                        <div class="drop_body">
                                            <p>Welcome @Session["AgentName"]</p>
                                            <ul>
                                                <li><a href="/Agent/property"><i class="fa fa-plus"></i> Add Hotel</a></li>
                                                <li><a href="javascript:void(0)">Change Password</a></li>
                                                <li>@Html.ActionLink("Logout", "logout")</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="navigation">
                <ul>
                    <li>
                        <a href="/Agent/Index/">
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="javascript:Void(0)">
                            Booking
                        </a>
                    </li>
                    <li>
                        <a href="/Agent/Inventory/">
                            Inventory
                        </a>
                    </li>
                    <li>
                        <a href="/Agent/property/">
                            Property
                        </a>
                    </li>
                    <li>
                        <a href="javascript:Void(0)">
                            Offer & Secret Deal
                        </a>
                    </li>
                    <li>
                        <a href="javascript:Void(0)">
                            Reports
                        </a>
                    </li>
                    <li>
                        <a href="javascript:Void(0)">
                            Rating & Reviews
                        </a>
                    </li>
                    <li>
                        <a href="javascript:Void(0)">
                            Add Ons
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()

    @Scripts.Render("~/bundle/jquery")
    <script src="~/scripts/jquery.toast.min.js"></script>
    <script src="~/scripts/wickedpicker.js"></script>
    <script src="~/scripts/chosen.jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            BindCountryDropDown('Country');
            $("select").chosen();``
            //$('select').selectpicker();
            GetAgentHotelList();
            var options = {
                now: "12:35", //hh:mm 24 hour format only, defaults to current time
                twentyFour: true, //Display 24 hour format, defaults to false
                upArrow: 'fa fa-angle-up', //The up arrow class selector to use, for custom CSS
                downArrow: 'fa fa-angle-down', //The down arrow class selector to use, for custom CSS
                close: 'fa fa-times', //The close class selector to use, for custom CSS
                hoverState: 'hover-state', //The hover state class to use, for custom CSS
                title: 'Timepicker', //The Wickedpicker's title,
                showSeconds: false, //Whether or not to show seconds,
                secondsInterval: 1, //Change interval for seconds, defaults to 1  ,
                minutesInterval: 1, //Change interval for minutes, defaults to 1
                beforeShow: null, //A function to be called before the Wickedpicker is shown
                show: null, //A function to be called when the Wickedpicker is shown
                clearable: false, //Make the picker's input clearable (has clickable "x")
            };
            $('.timepicker').wickedpicker(options);
            bindRoomView();
        });

        function InsertHotelBasicInfo() {
            var Hotel = {
                HotelName: $('#hotelName').val(),
                HotelFloor: $('#HotelFloor').val(),
                HotelType: $('#HotelType').val(),
                DisplayName: $('#DisplayName').val(),
                HotelStar: $('#HotelStar').val(),
                HotelBuiltYear: $('#BuiltYear').val(),
                HotelRooms: $('#HotelRooms').val(),
                HotelCheckInTime: $('#HotelCheckInTime').val(),
                HotelCheckOutTime: $('#CheckOutTime').val(),
                StreetAdress: $('#StreetAdress').val(),
                Locality: $('#Locality').val(),
                Country: $('#Country').val(),
                State: $('#State').val(),
                City: $('#City').val(),
                ZipCode: $('#ZipCode').val(),
                AgentID: ""
            }
            if(Hotel.HotelName=="")
            {
                calltoast("Enter Hotel Name.");
                return false;
            }
            if(Hotel.DisplayName=="")
            {
                calltoast("Enter Display Name.");
                return false;
            }
            if(Hotel.StreetAdress=="")
            {
                calltoast("Enter Street Address.");
                return false;
            }
            if(Hotel.State==null)
            {
                calltoast("Please select State.");
                return false;
            }
            if(Hotel.City==null)
            {
                calltoast("Please select City.");
                return false;
            }
            if(Hotel.ZipCode=="")
            {
                calltoast("Enter Zip Code.");
                return false;
            }

            $.ajax({
                type: 'POST',
                url: "@Url.Action("SaveHotelBasics", "Agent")",
                contentType: "application/json",
                data: JSON.stringify({ hotelBasics: Hotel }),
                success: function (data) {
                    console.log(data);
                    if (data != '2') {
                        $.toast({
                            text: 'Basics info is added ,please add contact',
                            hideAfter: 5000,
                            position: 'bottom-center',
                        })
                        $('#1').removeClass('active');
                        $('#basicInfo').removeClass('active in')
                        $('#2').removeClass('disabled').addClass('active');
                        $('#contact').addClass("in active");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }

        function InsertHotelContactInfo() {
            var hotelContact =
                {
                    HotelPhone: $('#HotelPhone').val(),
                    HotelMobile: $('#HotelMobile').val(),
                    HotelEmail: $('#HotelEmail').val(),
                    HotelPhoneList: $('#HotelPhoneList').val(),
                    HotelEmailList: $('#HotelEmailList').val(),
                    HotelWebsiteList: $('#HotelWebsiteList').val()
                }
            $.ajax({
                type: 'POST',
                url: "@Url.Action("SaveHotelContact", "Agent")",
                contentType: "application/json",
                data: JSON.stringify({ hotelContactInfo: hotelContact }),
                success: function (data) {
                    if (data == "2") {
                        $.toast({
                            heading: 'Success',
                            text: 'Here is some kind of success message with a success icon that you can notice at the left side.',
                            icon: 'success',
                            position: 'top-right'
                        });
                        $('#2').removeClass('active');
                        $('#contact').removeClass('active in')
                        $('#3').removeClass('disabled').addClass('active');
                        $('#rooms').addClass("in active");
                    }
                    else {
                        $.toast({
                            heading: 'Error',
                            text: 'Error Found While Adding Hotel Contact Detail',
                            showHideTransition: 'fade',
                            icon: 'error',
                            position: 'top-right'
                        })
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }
        function GetAgentHotelList()
        {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("getHotelList","Agent")",
                contentType: "application/json",
                data: JSON.stringify({ agentId: @Session["AgentId"] }),
                success:function(data)
                {
                    BindHotelList("AgentHotelList",data);
                },
                error:function()
                {

                }
            })
        }


        function BindHotelList(ddlID, data) {
            try {
                var select = document.getElementById(ddlID);
                $.each(data, function (i, item) {
                    var option = document.createElement("option");
                    option.text = item.DisplayName;
                    option.value = item.HotelID;
                    if (option != null) select.appendChild(option);
                });
                $('#'+ddlID).trigger("chosen:updated");
                // $('select').selectpicker('refresh');

            }
            catch (e) {

            }
        }
        function SaveHotelRoomData()
        {
            var roomData =
             {
                 HotelDescription: $('#txtDescription').val(),
                 RoomType: $('#roomType').val() ,
                 DisplayName: $('#displayName').val(),
                 TotalRoom: $('#totalRoom').val(),
                 BedType: $('#bedType').val(),
                 ExtraBedType: $('#extraBed').val(),
                 RoomView: $('#roomView').val(),
                 MinAdult: $('#minAdult').val(),
                 MaxAdult: $('#maxAdult').val(),
                 MinChild: $('#minChild').val(),
                 MaxChild: $('#maxChild').val(),
                 MaxInfant: $('#maxInfant').val(),
                 MaxGuest: $('#maxGuest').val()
             }
            $.ajax({
                type: 'POST',
                url: "@Url.Action("SaveHotelRoom", "Agent")",
                contentType: "application/json",
                data: JSON.stringify({ hotelRoom: roomData }),
                success: function (data) {
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }

        function bindRoomView()
        {
            var monthNames=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
            var count=5;
            var date=new Date();
            var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
            var table="<table cellspacing='10' class='table table-hover roomInventory'>";
            table+="<thead><tr><td>Rooms</td>";
            for(var i=0;i<count;i++)
            {
                table+="<td><span>"+parseInt(firstDay.getDate()+i)+"</span><span>" +monthNames[date.getMonth()]+","+date.getFullYear() +"</span></td>";
            }
            table+="</tr></thead>";
            table+="<tbody>";
            for(var i=0;i<count;i++)
            {
                table+='<tr><td>Details</td><td><ul class="bedgesList"><li><span class="label label-success">4</span></li><li><span class="label label-danger">4</span></li><li><span class="label label-warning">4</span></li><li><span class="label label-info">4</span></li></ul><label><input type="checkbox" value="">Block</label></td><td>Details</td><td>Details</td><td>Details</td><td>Details</td></tr>';
            }
            table+="</tbody></table>"
            $("#roomVLayout").html(table);
        }
    </script>
</body>
</html>
