<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <link href="~/Content/jquery.toast.min.css" rel="stylesheet" />
</head>
<body>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="top-header">
                    <div class="col-lg-2 col-xs-12 col-sm-2 col-md-2">

                    </div>
                    <div class="col-xs-12 col-sm-8 col-lg-8 col-md-8">
                        <div class="seachBox">
                            <select class="chosen-select" data-live-search="true" id="AgentHotelList"></select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-12 col-sm-2 col-md-2">
                        <div class="common-nav">
                            <ul>
                                <li>
                                    <div class="UserProfile">
                                        <span class="myButton pull-right"><img src="~/Content/images/user.png" /> <img src="~/Content/images/sort-down.svg" /></span>
                                    </div>
                                    <div class="nav-drop">
                                        <div class="triangle-with-shadow">

                                        </div>
                                        <div class="drop_body">
                                            <p>Welcome @Session["AgentName"]</p>
                                            <ul>
                                                <li><a href="javascript:void(0)" onclick="transfer(this);" flag="A"><i class="fa fa-plus"></i> Add Hotel</a></li>
                                                <li><a href="javascript:void(0)">Change Password</a></li>
                                                <li>@Html.ActionLink("Logout", "logout")</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="navigation">
                <ul>
                    <li>
                        <a href="/Agent/Index/">
                            Dashboard
                        </a>
                    </li>
                    @*<li>
                            <a href="javascript:Void(0)">
                                Booking
                            </a>
                        </li>*@
                    <li>
                        <a href="/Agent/Inventory/">
                            Inventory
                        </a>
                    </li>
                    <li>
                        <a href="/Agent/property/">
                            Property
                        </a>
                    </li>
                    @*<li>
                            <a href="javascript:Void(0)">
                                Offer & Secret Deal
                            </a>
                        </li>
                        <li>
                            <a href="javascript:Void(0)">
                                Reports
                            </a>
                        </li>
                        <li>
                            <a href="javascript:Void(0)">
                                Rating & Reviews
                            </a>
                        </li>
                        <li>
                            <a href="javascript:Void(0)">
                                Add Ons
                            </a>
                        </li>*@
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBz1a81QQlGBkXzKv9VcRwnG5BECnXFAWs&libraries=places&callback=initMap" async defer></script>
    @Scripts.Render("~/bundle/jquery")
    <script src="~/scripts/jquery.toast.min.js"></script>
    <script src="~/scripts/wickedpicker.js"></script>
    <script src="~/scripts/chosen.jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.js"></script>
    <script src="~/scripts/bootstrap-datetimepicker.js"></script>

    <script type="text/javascript">
        var HotelFlag="";
        var myPicker;
        var monthNames=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
        var pageName="@ViewContext.RouteData.Values["action"]";
        var date=new Date();
        var finalDate = ((date.getDate().toString().length==1)?"0"+date.getDate():date.getDate()) +"-"+monthNames[date.getMonth()]+"-"+ date.getFullYear();

        $(function () {

            $('.inventoryDate').datetimepicker(
                {
                    format: 'DD-MMM-YYYY',
                    minDate:finalDate,
                });
        });
        $(document).ready(function () {

            $('.inventoryDate').keydown(function () {
                return false;
            });
            $('#startDate').val(finalDate);
            BindCountryDropDown('Country');
            $("select").chosen();
            GetAgentHotelList();
            var options = {
                now: "08:30", //hh:mm 24 hour format only, defaults to current time
                twentyFour: false, //Display 24 hour format, defaults to false
                upArrow: 'fa fa-angle-up', //The up arrow class selector to use, for custom CSS
                downArrow: 'fa fa-angle-down', //The down arrow class selector to use, for custom CSS
                close: 'wickedpicker__close', //The close class selector to use, for custom CSS
                hoverState: 'hover-state', //The hover state class to use, for custom CSS
                title: 'Timepicker', //The Wickedpicker's title,
                showSeconds: false, //Whether or not to show seconds,
                secondsInterval: 1, //Change interval for seconds, defaults to 1
                minutesInterval: 1, //Change interval for minutes, defaults to 1
                beforeShow: null, //A function to be called before the Wickedpicker is shown
                show: null, //A function to be called when the Wickedpicker is shown
                closeOnClickOutside: true,
                clearable: false, //Make the picker's input clearable (has clickable "x")
                timeSeparator: ':'
            };
            myPicker = $('.timepicker').wickedpicker(options);

            $("#checkAll").click(function()
            {
                $(".daysList").find('input:checkbox').not(this).prop('checked', this.checked);
            })

        });

        function InsertHotelBasicInfo() {
            var Hotel = {
                HotelName: $('#hotelName').val(),
                HotelFloor: $('#HotelFloor').val(),
                HotelType: $('#HotelType').val(),
                DisplayName: $('#DisplayName').val(),
                HotelStar: $('#HotelStar').val(),
                HotelBuiltYear: $('#BuiltYear').val(),
                HotelRooms: $('#HotelRooms').val(),
                HotelCheckInTime: $('#HotelCheckInTime').val(),
                HotelCheckOutTime: $('#CheckOutTime').val(),
                StreetAdress: $('#StreetAdress').val(),
                Locality: $('#location').val(),
                Country: $('#Country').val(),
                State: $('#State').val(),
                City: $('#City').val(),
                ZipCode: $('#ZipCode').val(),
                AgentID: @Session["AgentId"],
                HotelID:(($("#submitHote").attr("flag")=="A")?"":$("#AgentHotelList").val()),
                flag:$("#submitHote").attr("flag"),
            }
            if(Hotel.HotelName=="")
            {
                calltoast("Enter Hotel Name.");
                return false;
            }
            if(Hotel.DisplayName=="")
            {
                calltoast("Enter Display Name.");
                return false;
            }
            if(Hotel.StreetAdress=="")
            {
                calltoast("Enter Street Address.");
                return false;
            }
            if(Hotel.State==null)
            {
                calltoast("Please select State.");
                return false;
            }
            if(Hotel.City==null)
            {
                calltoast("Please select City.");
                return false;
            }
            if(Hotel.ZipCode=="")
            {
                calltoast("Enter Zip Code.");
                return false;
            }

            $.ajax({
                type: 'POST',
                url: "@Url.Action("SaveHotelBasics", "Agent")",
                contentType: "application/json",
                data: JSON.stringify({ hotelBasics: Hotel }),
                success: function (data) {
                    if(data==2)
                    {
                        $.toast({
                            heading: 'Success',
                            text: 'Basic info is added ,please add contact.',
                            icon: 'success',
                            position: 'bottom-right'
                        });
                        $("#submitHote").val("Update & Continue");
                        $("#submitHote").attr("flag","E");
                        $('#1').removeClass('active');
                        $('#basicInfo').removeClass('active in')
                        $('#2').removeClass('disabled').addClass('active');
                        $('#contact').addClass("in active");
                        GetAgentHotelList();
                    }
                    else
                    {
                        $.toast({
                            heading: 'Error',
                            text: 'Error Found While Adding Hotel Basic Info.',
                            icon: 'error',
                            position: 'bottom-right'
                        });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }

        function InsertHotelContactInfo() {
            var hotelContact =
                {
                    HotelPhone: $('#HotelPhone').val(),
                    HotelMobile: $('#HotelMobile').val(),
                    HotelEmail: $('#HotelEmail').val(),
                    HotelPhoneList: $('#HotelPhoneList').val(),
                    HotelEmailList: $('#HotelEmailList').val(),
                    HotelWebsiteList: $('#HotelWebsiteList').val(),
                    HotelID: $('#AgentHotelList').val(),
                    flag:$("#submitHotelContact").attr("flag")

                }
            $.ajax({
                type: 'POST',
                url: "@Url.Action("SaveHotelContact", "Agent")",
                contentType: "application/json",
                data: JSON.stringify({ hotelContactInfo: hotelContact }),
                success: function (data) {
                    if (data == "2") {
                        $.toast({
                            heading: 'Success',
                            text: 'Hotel Contact Details Has Been Added.',
                            icon: 'success',
                            position: 'bottom-right'
                        });
                        $("#submitHotelContact").val("Update & Continue");
                        $("#submitHotelContact").attr("flag","E");
                        $('#2').removeClass('active');
                        $('#contact').removeClass('active in')
                        $('#3').removeClass('disabled').addClass('active');
                        $('#rooms').addClass("in active");
                    }
                    else {
                        $.toast({
                            heading: 'Error',
                            text: 'Error Found While Adding Hotel Contact Detail',
                            icon: 'error',
                            position: 'bottom-right'
                        })
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }
        function GetAgentHotelList()
        {

            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetHotelList","Agent")",
                contentType: "application/json",
                data: JSON.stringify({ agentId: @Session["AgentId"] }),
                success:function(data)
                {
                    if(data.length > 0)
                    {
                        BindHotelList("AgentHotelList",data);
                        $('.Lagend_hotel_add').removeClass("bounceInRight");
                        $('.Lagend_hotel_add').css('display','none');
                        $(".tab-content").attr('HotelData',$("#AgentHotelList").val()+"~"+$("#AgentHotelList").text())
                        if(localStorage.getItem("flag")=="E" || localStorage.getItem("flag")==null)
                        {

                            if(pageName=="property")
                            {
                                GetHotelData();
                                GetRoomList();
                            }
                            $("#submitHote").attr("flag","E");
                            $("#submitHotelContact").attr("flag","E");
                        }
                        else
                        {
                            $("#submitHote").attr("flag","A");
                            $("#submitHotelContact").attr("flag","A");
                        }
                        localStorage.clear();
                        if(pageName=="Inventory")
                        {
                            BindRoomView("");
                        }
                    }
                    else
                    {
                        $("#submitHote").attr("flag","A");
                        $("#submitHotelContact").attr("flag","A");
                    }
                },
                error:function()
                {

                }
            })


        }
        function BindHotelList(ddlID, data) {
            try {
                $('#'+ddlID).empty();
                var select = document.getElementById(ddlID);
                $.each(data, function (i, item) {
                    var option = document.createElement("option");
                    option.text = item.DisplayName;
                    option.value = item.HotelID;
                    if (option != null) select.appendChild(option);
                });
                $('#AgentHotelList option:last').prop('selected',true);
                $('#'+ddlID).trigger("chosen:updated");

                // $('select').selectpicker('refresh');

            }
            catch (e) {

            }
        }
        function DeleteHotelRoom(RoomID)
        {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("DeleteRoom", "Agent")",
                contentType: "application/json",
                data: JSON.stringify({ RoomID: RoomID }),
                success: function (data)
                {
                    if(data==1)
                    {
                        $.toast({
                            heading: 'Success',
                            text: 'Room Has Been Deleted.',
                            icon: 'success',
                            position: 'bottom-right'
                        });
                        GetRoomList();
                    }
                    else
                    {
                        $.toast({
                            heading: 'Error',
                            text: 'Something went wrong.',
                            icon: 'error',
                            position: 'bottom-right'
                        });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }
        function SaveHotelRoomData(e)
        {
            var roomData =
             {
                 RoomsDesc: $('.RoomsDesc').val(),
                 RoomType: $('#roomType').val() ,
                 DisplayName: $('#displayName').val(),
                 TotalRoom: $('#totalRoom').val(),
                 BedType: $('#bedType').val(),
                 ExtraBedType: $('#extraBed').val(),
                 RoomView: $('#roomView').val(),
                 MinAdult: $('.minAdult').val(),
                 MaxAdult: $('.maxAdult').val(),
                 MinChild: $('.minChild').val(),
                 MaxChild: $('.maxChild').val(),
                 MaxInfant: $('.maxInfant').val(),
                 MaxGuest: $('.maxGuest').val(),
                 PricePerNight:$('#pricePerNight').val(),
                 HotelID : $("#AgentHotelList").val(),
                 Flag : $(e).attr("flag"),
                 ID : $(e).attr("RoomID"),
             }
            $.ajax({
                type: 'POST',
                url: "@Url.Action("SaveHotelRoom", "Agent")",
                contentType: "application/json",
                data: JSON.stringify({ hotelRoom: roomData }),
                success: function (data)
                {
                    if(data==1)
                    {
                        $.toast({
                            heading: 'Success',
                            text: 'Room Details Has Been Added.',
                            icon: 'success',
                            position: 'bottom-right'
                        });
                        $('#2').removeClass('active');
                        $('#contact').removeClass('active in')
                        $('#3').removeClass('disabled').addClass('active');
                        $('#rooms').addClass("in active");
                        $("#collapseOne").removeClass("in");
                        $("#collapseOne").attr("aria-expanded",false);
                        $("#collapseOne").css("height","0px");
                        $("#collapseTwo").addClass("in");
                        $("#collapseTwo").attr("aria-expanded",true);
                        $("#collapseTwo").css("height","100%");
                        $("a[href$='#collapseTwo']").attr("aria-expanded",true);
                        $("a[href$='#collapseTwo'] i").removeClass("glyphicon-plus");
                        $("a[href$='#collapseTwo'] i").addClass("glyphicon-minus");
                        GetRoomList();
                        $(e).attr("flag", "A");
                        $('.RoomsDesc').val("");
                        $('#roomType').val(0);
                        $("#roomType").trigger("chosen:updated");
                        $('#displayName').val("");
                        $('#totalRoom').val("");
                        $('#bedType').val(0);
                        $("#bedType").trigger("chosen:updated");
                        $('#extraBed').val(0);
                        $("#extraBed").trigger("chosen:updated");
                        $('#roomView').val(0);
                        $("#roomView").trigger("chosen:updated");
                        $('.minAdult').val("");
                        $('.maxAdult').val("");
                        $('.minChild').val("");
                        $('.maxChild').val("");
                        $('.maxInfant').val("");
                        $('.maxGuest').val("");
                        $('#pricePerNight').val("");
                        document.getElementById("saveRoomData").innerText="Save & Continue";

                    }
                    else
                    {
                        $.toast({
                            heading: 'Error',
                            text: 'Error Found While Adding Room Detail',
                            icon: 'error',
                            position: 'bottom-right'
                        })
                    }
                    console.log(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
            return false;
        }
        function previouTran()
        {
            BindRoomView("prev");
        }
        function nextTran()
        {
            BindRoomView("next");
        }
        function BindRoomView(val)
        {
            var count=5;
            if(val=="next")
            {
                var newdate = new Date(date);
                newdate.setDate(newdate.getDate() + count);
                date=new Date(newdate);
            }
            if(val=="prev")
            {
                var newdate = new Date(date);
                newdate.setDate(newdate.getDate() - count);
                date=new Date(newdate);
            }
            var table="<table cellspacing='10' class='table table-hover roomInventory'>";
            table+="<thead><tr><td>Rooms</td>";
            for(var i=0;i<count;i++)
            {
                table+="<td id='topTd"+i+"'><span>"+parseInt(date.getDate()+i)+" </span><span>" +monthNames[date.getMonth()]+","+date.getFullYear() +"</span></td>";
            }
            table+="</tr></thead>";

            GetRoomForInventory(table);
            GetRoomTypeForInventory();

        }

        $('#txtUploadFile').on('change', function (e) {

            var files = e.target.files;
            var myID = ($("#ImageRoomList option:selected").text()=="Hotel") ? "" : $("#ImageRoomList option:selected").val();
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Agent/UploadHomeReport?id=' + myID +'&hotelName='+$("#AgentHotelList option:selected").text()+'&hotelId='+$("#AgentHotelList option:selected").val(),
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            if(result==1)
                            {
                                $.toast({
                                    heading: 'Success',
                                    text: 'Images has been uploaded successfully',
                                    icon: 'success',
                                    position: 'bottom-right'
                                });
                                $("#uploadHotelImages").modal('hide');
                                GetHotelImages();
                            }
                            else
                            {
                                $.toast({
                                    heading: 'Error',
                                    text: 'Error while uploading images.',
                                    icon: 'error',
                                    position: 'bottom-right'
                                })
                            }
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        });

        function GetHotelImages()
        {
            $("script[src='/scripts/filter-tags.js']").remove();
            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetHotelImages", "Agent")",
                contentType: "application/json",
                data: JSON.stringify({ HotelID: $("#AgentHotelList").val() }),
                success:function(result)
                {

                    $("#buttons").empty();
                    $("#images").empty();

                    var MyData=JSON.parse(result);
                    if(MyData["Table"].length>0)
                    {
                        var html="";
                        var tag="";
                        var src="";
                        var status="";
                        $.each(MyData["Table"],function(i,item)
                        {
                            src="";
                            src="@System.Configuration.ConfigurationManager.AppSettings["GetImageUrl"]@System.Configuration.ConfigurationManager.AppSettings["FolderName"]/";
                            ((item.RoomDisplayName!=null) ? tag=item.RoomDisplayName : tag="Hotel");
                            src+=$("#AgentHotelList Option:Selected").text()+"~"+item.HotelID+"/"+item.PicName;
                            src=src.replace(" ","%20");
                            ((item.IsEnable!=false) ? status="Disable" : status="Enable");
                            html+='<div class="col-md-2 base" data-tags="'+tag+'"><div class="thumbnail">';
                            html+='<img src="'+src+'" alt="'+item.PicName+'" style="width:100%">';
                            html+='<div class="caption"><span class="pull-left" onclick="EnableImage(this,'+item.PicID+')">'+status+'</span>';
                            html+='<span class="pull-right" onclick="RemoveImage('+item.PicID+')">Remove</span></div></div></div>';
                        });
                        $("#images").append(html);

                        $.getScript('/scripts/filter-tags.js');
                    }
                    else
                    {
                        $("#images").append('<div style="width:100%;margin-left:15px;margin-right:15px;" class="alert alert-danger"><strong>Error!</strong> No Images has been uploaded till now.</div>')

                    }

                }
            })
        }
        function EnableImage(e,ImageID)
        {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("EnableImage", "Agent")",
                contentType: "application/json",
                data: JSON.stringify({ ImageID: ImageID,Status:(($(e)[0].innerText=="Enable") ? 1 : 0) }),
                success:function(result)
                {
                    if(result==1)
                    {
                        (($(e)[0].innerText=="Enable") ? $(e)[0].innerText="Disable" : $(e)[0].innerText="Enable")

                    }
                    else
                    {
                        alert("There is an issue.");
                    }

                }
            });
        }
        function RemoveImage(ImageID)
        {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("RemoveImage", "Agent")",
                contentType: "application/json",
                data: JSON.stringify({ ImageID: ImageID}),
                success:function(result)
                {
                    if(result==1)
                    {
                        GetHotelImages();
                    }
                    else
                    {

                    }

                }
            });
        }
        function viewRatePlan(e)
        {
            $(e).toggleClass("fa-eye-slash fa-eye");
            //$(".roomTable tbody tr").each(function(){
            //    var element=$(this).find("td:last i:last");
            //    if($(element).hasClass('fa-eye'))
            //    {
            //        $(element).removeClass('fa-eye');
            //        $(element).addClass('fa-eye-slash');
            //    }
            //});
            var rowIndex=0;
            if($(e).hasClass("fa-eye"))
            {
                var RoomID=GetRoomID(e);
                $(".roomTable tbody tr").each(function(){
                    if($(this).hasClass("nested")){$(this).remove();}
                });
                rowIndex=$(e).closest('td').parent()[0].sectionRowIndex
                var newRow="";
                newRow="<tr class='nested'><td colspan='5'><table id='rateTable"+rowIndex+"' class='table table-bordered table-hover'><thead class='thead-dark'><tr><th>Plan Name</th><th>Meal Plan</th><th>Status</th><th>Payment Mode</th><th>Action</th></tr></thead></table></td></tr>";
                $(".roomTable tbody tr").eq(rowIndex).after(newRow);
                GetRoomWisePlan(RoomID,rowIndex);
            }
            else
            {
                rowIndex=$(e).closest('td').parent()[0].sectionRowIndex
                $(".roomTable tbody tr").eq(rowIndex+1).remove();
            }
        }

        function GetRoomWisePlan(RoomID,tableID)
        {
            var planData="";

            $.ajax({
                type:'POST',
                url:"@Url.Action("GetRoomWisePLan","Agent")",
                contentType:"application/json",
                data:JSON.stringify({RoomID:RoomID}),
                success:function(Data)
                {
                    var tr="";
                    tr+="<tbody>";
                    if(Data.length>0)
                    {
                        $.each(Data,function(i,item)
                        {
                            var PlanData=item.PlanID+"~"+item.PlanName+"~"+item.MealPlan+"~"+item.IsRefundable+"~"+item.PaymentMode;
                            tr+="<tr><td>"+item.PlanName+"</td><td>"+item.MealPlan+"</td><td>"+item.IsRefundable+"</td><td>"+item.PaymentMode+"</td><td><i class='fa fa-pencil' title='Edit' data-toggle='modal' data-target='#addRatePlan' onclick='EditRoomPlan(this);' PlanData="+PlanData+"></i><i class='fa fa-times' title='Delete'></i></td></tr>"
                        });
                    }
                    else
                    {
                        tr+="<tr><td colspan='5' align='center'>No record found.</td></tr>";
                    }
                    tr+="</tbody>";
                    $("#rateTable"+tableID).append(tr);
                },
                error:function(textStatus)
                {
                    console.log(textStatus);
                }
            });
            return planData;
        }
        function EditRoomPlan(e)
        {
            var PlanData=$(e).attr("PlanData");
            PlanData=PlanData.split("~");
            $('.mealPlan').val(PlanData[2]);
            $(".mealPlan").trigger("chosen:updated");
            $('.payMode').val(PlanData[4]);
            $(".payMode").trigger("chosen:updated");
            $('.planName').val(PlanData[1]);
            if(PlanData[3]=="True")
            {
                $("#refundableCheck").prop('checked', true);
            }
            $("#rateBtn").attr("flag","E");

            $("#rateBtn").val("Update");
            $("#rateBtn").attr("PlanId",PlanData[0]);
        }
        function GetRoomList()
        {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetRoomList", "Agent")",
                contentType: "application/json",
                data: JSON.stringify({ HotelID: $("#AgentHotelList").val() }),
                success: function (data) {
                    var row="";
                    var table=document.getElementById("roomTable");
                    if(data.length > 0)
                    {
                        var select = document.getElementById("ImageRoomList");
                        $('#ImageRoomList').empty();
                        $('#ImageRoomList').trigger("chosen:updated");
                        $('#ImageRoomList').append("<option value="+$("#AgentHotelList").val()+">Hotel</option>");
                        $.each(data,function(i,item)
                        {
                            var roomData=item.ID+"~"+item.RoomsDesc+"~"+item.RoomType+"~"+item.DisplayName+"~"+item.TotalRoom+"~"+item.BedType+"~"+item.ExtraBedType+"~"+item.RoomView+"~"+item.MaxAdult+"~"+item.MaxChild+"~"+item.MaxGuest+"~"+item.MaxInfant+"~"+item.MinAdult+"~"+item.MinChild+"~E~"+item.PricePerNight;
                            row+='<tr><td>'+item.DisplayName+'</td><td>'+item.RoomsDesc+'</td>';
                            row+='<td><i class="fa fa-pencil roomEdit" id="edit'+i+'" roomData="'+roomData+'" onclick="EditRoom(this);" title="Edit"></i>';
                            row+='<i class="fa fa-times" onclick="DeleteHotelRoom('+item.ID+');" title="Delete"></i></td>';
                            row+='<td><input type="checkbox" id="check'+i+'" value="">Active</td>';
                            row+='<td><i class="fa fa-plus" title="Add plan" onclick="GetRoomID(this);" data-toggle="modal" data-target="#addRatePlan"></i><i class="fa fa-eye-slash" onclick=" viewRatePlan(this);" title="View plan"></i></td></tr>';
                            if(item.IsActive==1)
                            {
                                $("#check"+i).prop('checked', true);
                            }
                            else
                            {
                                $("#check"+i).prop('checked', false);
                            }

                            var option = document.createElement("option");
                            option.text = item.DisplayName;
                            option.value = item.ID;
                            if (option != null) select.appendChild(option);
                            $('#ImageRoomList').trigger("chosen:updated");
                        });
                        $('#roomTable tbody').html(row);
                    }
                    else
                    {
                        row="<tr><td colspan='5' align='center'>No record found.</td></tr>";
                        $('#roomTable tbody').html(row);
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }
        function EditRoom(e)
        {
            var roomData=$(e).attr("roomData");
            roomData=roomData.split("~");
            $('.RoomsDesc').val(roomData[1])
            $('#roomType').val(roomData[2])
            $("#roomType").trigger("chosen:updated");
            $('#displayName').val(roomData[3])
            $('#totalRoom').val(roomData[4])
            $('#bedType').val(roomData[5])
            $("#bedType").trigger("chosen:updated");
            $('#extraBed').val(roomData[6])
            $("#extraBed").trigger("chosen:updated");
            $('#roomView').val(roomData[7])
            $("#roomView").trigger("chosen:updated");
            $('.minAdult').val(roomData[12])
            $('.maxAdult').val(roomData[8])
            $('.minChild').val(roomData[13])
            $('.maxChild').val(roomData[9])
            $('.maxInfant').val(roomData[11])
            $('.maxGuest').val(roomData[10]);
            $('#pricePerNight').val(roomData[15]);
            document.getElementById("saveRoomData").innerText="Update";
            $("#saveRoomData").val("Update");
            $("#collapseOne").addClass("in");
            $("#collapseOne").attr("aria-expanded",true);
            $("#collapseOne").css("height","100%");
            $("#collapseOne").css("transition","all 0.4s ease-in-out");
            $("#collapseTwo").removeClass("in");
            $("#collapseTwo").attr("aria-expanded",false);
            $("#collapseTwo").css("height","0px");
            $("a[href$='#collapseTwo']").attr("aria-expanded",false);
            $("a[href$='#collapseTwo'] i").addClass("glyphicon-plus");
            $("a[href$='#collapseTwo'] i").removeClass("glyphicon-minus");
            $("#saveRoomData").attr("flag","E");
            $("#saveRoomData").attr("RoomID",roomData[0]);
        }
        function GetRoomID(e)
        {
            var item = $(e).closest("tr").find(".roomEdit");
            var roomID=item.attr("roomData").split('~')[0];
            $("#rateBtn").attr("roomID",roomID);
            return roomID;
        }
        $('#rateBtn').click(function()
        {
            var IsRefund="0";
            if ($('#refundableCheck').is(':checked'))
            {
                IsRefund="1";
            }
            var Hotel = {
                IsRefundable: IsRefund,
                MealPlan: $('.mealPlan').val(),
                PaymentMode: $('.payMode').val(),
                PlanName:$('.planName').val(),
                RoomID: $(this).attr("roomID"),
                PlanID:$("#rateBtn").attr("PlanID"),
                flag:$("#rateBtn").attr("flag"),
            }
            $.ajax({
                type:'POST',
                url:"@Url.Action("SaveRoomPlan", "Agent")",
                contentType: "application/json",
                data: JSON.stringify({ Details: Hotel }),
                success:function(data)
                {
                    if(data==1)
                    {
                        $.toast({
                            heading: 'Success',
                            text: 'Room Plan Has Been Added.',
                            icon: 'success',
                            position: 'bottom-right'
                        });
                        $('.mealPlan').val(0);
                        $(".mealPlan").trigger("chosen:updated");
                        $('.payMode').val(0);
                        $(".payMode").trigger("chosen:updated");
                        $('.planName').val('');
                        GetRoomList
                    }
                    else
                    {
                        $.toast({
                            heading: 'Error',
                            text: 'Something went wrong while adding room.',
                            icon: 'error',
                            position: 'bottom-right'
                        });
                    }
                }
            });
        });
        function GetHotelData()
        {
            //resetAllValues();
            try
            {
                var hotelId=$('#AgentHotelList').val();
                if(hotelId.length > 0)
                {
                    hotelId=hotelId.split('~')[0];
                    $.ajax({
                        type:'POST',
                        url:"@Url.Action("GetHotelData","Agent")",
                        contentType:"application/json",
                        data:JSON.stringify({HotelID : hotelId}),
                        success:function(data)
                        {
                            if(data.length > 0)
                            {
                                var HotelJson=JSON.parse(data);
                                if(HotelJson.BasicInfo.length > 0 )
                                {
                                    $("#hotelName").val(HotelJson.BasicInfo[0].HotelName);
                                    $("#HotelFloor").val(HotelJson.BasicInfo[0].HotelFloor);

                                    $("#CheckOutTime").val(HotelJson.BasicInfo[0].CheckOutTime);
                                    myPicker.wickedpicker('setTime', 1, ConvertTimeFormat(HotelJson.BasicInfo[0].CheckOutTime));
                                    $("#HotelType").val(HotelJson.BasicInfo[0].HotelType);
                                    $("#HotelType").trigger("chosen:updated");
                                    $("#BuiltYear").val(((HotelJson.BasicInfo[0].HotelBuildYear!="")?HotelJson.BasicInfo[0].HotelBuildYear.split("-")[0]:""));
                                    $("#DisplayName").val(HotelJson.BasicInfo[0].HotelDisplayName);
                                    $("#HotelStar").val(HotelJson.BasicInfo[0].HotelStar);
                                    $("#HotelStar").trigger("chosen:updated");
                                    $("#HotelRooms").val(HotelJson.BasicInfo[0].HotelRooms);
                                    $("#HotelCheckInTime").val(HotelJson.BasicInfo[0].CheckInTime);
                                    myPicker.wickedpicker('setTime', 0, ConvertTimeFormat(HotelJson.BasicInfo[0].CheckInTime));
                                    $("#StreetAdress").val(HotelJson.BasicInfo[0].StreetAddress);
                                    $("#location").val(HotelJson.BasicInfo[0].Locality);
                                    $("#Country").val(HotelJson.BasicInfo[0].Country);
                                    $("#Country").trigger("chosen:updated");
                                    $("#Country").trigger("change");
                                    $("#State").val(HotelJson.BasicInfo[0].State);
                                    $("#State").trigger("chosen:updated");
                                    $("#State").trigger("change");
                                    $("#City").val(HotelJson.BasicInfo[0].City);
                                    $("#City").trigger("chosen:updated");
                                    $("#ZipCode").val(HotelJson.BasicInfo[0].ZipCode);
                                    $("#submitHote").val("Update & Continue");
                                    $("#submitHote").attr("flag", "E");
                                }
                                else
                                {
                                    $("#submitHote").attr("flag", "A");
                                }
                                if(HotelJson.ContactInfo.length>0)
                                {

                                    $("#HotelPhone").val(HotelJson.ContactInfo[0].HotelPhone);
                                    $("#HotelEmail").val(HotelJson.ContactInfo[0].HotelEmail);
                                    $("#HotelEmailList").val(HotelJson.ContactInfo[0].HotelEmailList);
                                    $("#HotelMobile").val(HotelJson.ContactInfo[0].HotelMobile);
                                    $("#HotelPhoneList").val(HotelJson.ContactInfo[0].HotelPhoneList);
                                    $("#submitHotelContact").val("Update & Continue");
                                }
                                else
                                {
                                    $("#submitHotelContact").attr("flag", "A");
                                }
                                $('.tab-header li').each(function()
                                {
                                    $(this).removeClass('disabled')
                                });
                                document.getElementById("saveRoomData").innerText="Save & Continue";
                                $("#saveRoomData").val("Save & Continue");
                                GetHotelImages();
                            }
                        },
                        error:function(textStatus)
                        {

                        }
                    })
                }

            }
            catch(e)
            {
                console.log(e.message);
            }
        }
        function resetAllValues() {
            //basicInfo
            $('#basicInfoForm')[0].reset();
            $('#contactInfoForm')[0].reset();
            //$('#contact').find('input:text').val('');
            //$('#basicInfo').find('input:text').val('');

        }
        function ConvertTimeFormat(value) {
            // var time = $("#starttime").val();
            var time = value;
            var hrs = Number(time.match(/^(\d+)/)[1]);
            var mnts = Number(time.replace(/\s/g, '').match(/:(\d+)/)[1]);
            var format = time.match(/\s(.*)$/)[1];
            if (format == "PM" && hrs < 12) hrs = hrs + 12;
            if (format == "AM" && hrs == 12) hrs = hrs - 12;
            var hours = hrs.toString();
            var minutes = mnts.toString();
            if (hrs < 10) hours = "0" + hours;
            if (mnts < 10) minutes = "0" + minutes;
            var timeString=hours + " : " + minutes;
            return timeString
        }
        function transfer(e)
        {
            $('.tab-content').find("input[type=text], textarea").val("");
            localStorage.setItem('flag', "A");
            window.location.href="/Agent/property/";


        }
        $('#AgentHotelList').change(function()
        {
            if(pageName=="property")
            {
                GetHotelData();
                GetRoomList()
                GetHotelImages();
            }
            else
            {
                BindRoomView("");
                GetRoomTypeForInventory();
            }

        });

        function GetRoomForInventory(table)
        {
            $.ajax({
                type:'POST',
                url:"@Url.Action("RoomForInventory","Agent")",
                contentType:"application/json",
                data:JSON.stringify({HotelID : $("#AgentHotelList").val()}),
                success:function(result){

                    table+="<tbody>";
                    for(var i=0;i < result.length;i++)
                    {
                        table+='<tr id=row'+i+'><td id=cell'+i+'>'+result[i].DisplayName+'</td><td></td><td></td><td></td><td></td><td></td></tr>';
                    }
                    table+="</tbody></table>"
                    $("#roomVLayout").html(table);
                    $("#rateVLayout").html(table);

                    GetRoomInventory();

                },
            })
        }
        function GetRoomTypeForInventory()
        {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetRoomList", "Agent")",
                contentType: "application/json",
                data: JSON.stringify({ HotelID: $("#AgentHotelList").val() }),
                success: function (data) {
                    $('#roomTypeInvent').empty();
                    $('#roomTypeInvent').trigger("chosen:updated");
                    $('#roomTypeInvent').append("<option value=0>Select Room Type</option>");
                    if(data.length > 0)
                    {
                        var select = document.getElementById("roomTypeInvent");
                        $.each(data,function(i,item)
                        {
                            var option = document.createElement("option");
                            option.text = item.DisplayName;
                            option.value = item.ID+"~"+item.TotalRoom;
                            if (option != null) select.appendChild(option);
                            $('#roomTypeInvent').trigger("chosen:updated");
                        });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }
        function GetRoomInventory()
        {
            $.ajax
                ({
                    type:'POST',
                    url:"@Url.Action("GetRoomInventory","Agent")",
                    contentType: "application/json",
                    data: JSON.stringify({ HotelID: $("#AgentHotelList").val()}),
                    success:function(result)
                    {
                        if(result.length>0)
                        {
                            var bedgesList="";
                            $.each(result,function(i,item)
                            {   //<ul class="bedgesList"><li><span class="label label-default">0</span></li></ul>
                                var availableFlag="";
                                bedgesList="<ul class='bedgesList'>";
                                if(parseInt(item.Available)>parseInt(0))
                                {
                                    bedgesList+='<li><a href="javascript:void(0)" data-toggle="modal" data-target="#updateRoomInventory" onclick="setDetails(this);"><span class="label label-success">'+item.Available+'</span></a></li>'
                                }
                                bedgesList+="</ul>";
                                $("#roomVLayout thead").find('td').each (function(c,value) {
                                    if(c!=0)
                                    {
                                        var date=$(this).text().trim().replace(",","-").replace(" ","-");
                                        date=((date.split('-')[0].length==1)? "0"+date : date);
                                        var tdId=$(this).index();
                                        if(new Date(item.StartDate) <= new Date(date) && new Date(item.EndDate) >= new Date(date))
                                        {
                                            $("#roomVLayout tbody tr").each(function(j,val)
                                            {
                                                if($(this)[0].children[0].innerText==item.RoomType)
                                                {
                                                    if(item.Available!= 0)
                                                    {
                                                        var roomVal=item.Available+"~"+date+"~"+$(this)[0].children[0].innerText+"~"+item.RoomID;
                                                        $(this).find("td:eq("+tdId+")")[0].innerHTML="";
                                                        $(this).find("td:eq("+tdId+")").append(bedgesList);
                                                        $(this).find("td:eq("+tdId+") .bedgesList li a").attr("roomVal",roomVal);                                                    }
                                                }
                                                else
                                                {
                                                    if($(this).find("td:eq("+tdId+")")[0].innerHTML=="")
                                                    {
                                                        $(this).find("td:eq("+tdId+")").append('<ul><li><span class="label label-default">0</span></li></ul>');
                                                    }

                                                }
                                            });
                                        }
                                        else
                                        {
                                            $("#roomVLayout tbody tr").each(function(count,newVal)
                                            {
                                                if($(this).find("td:eq("+tdId+")")[0].innerHTML=="")
                                                {
                                                    $(this).find("td:eq("+tdId+")").append('<ul><li><span class="label label-default">0</span></li></ul>')
                                                }

                                            });
                                        }
                                    }

                                });

                            })
                        }
                        else
                        {
                            $("#roomVLayout tbody tr").each(function()
                            {
                                $(this).find("td:not(:first)").append('<ul><li><span class="label label-default">0</span></li></ul>')
                            });

                        }

                    }
                });
        }
        function setDetails(evt)
        {
            var roomVal = $(evt).attr("roomVal");
            var inventDate=roomVal.split('~')[1];
            var availableInvent=roomVal.split('~')[0];
            var roomName=roomVal.split('~')[2];
            document.getElementById("inventDate").innerHTML=inventDate;
            document.getElementById("roomName").innerHTML=roomName;
            $("#newInventory").val(availableInvent);
            $("#saveInvent").attr("RoomID",roomVal.split('~')[3])
        }
        function SaveHotelInventory()
        {
            var checkedValue = $(".daysList input:checkbox:checked").map(function () {
                return $(this).attr("value");
            }).get();
            if($("#roomTypeInvent").val()=="0")
            {
                alert("Please select Room Type.");
                return false;
            }
            if($("#endDate").val()=="")
            {
                alert("End Date can't be blank.");
                return false;
            }
            if($("#availableInventory").val()=="")
            {
                alert("Available Inventory can't be blank.");
                return false;
            }
            var totalRoom=parseInt($("#roomTypeInvent").val().split('~')[1]);
            var available=parseInt($("#availableInventory").val());
            if(available>totalRoom)
            {
                alert("Available inventory should not be greater than total inventory.");
                return false;
            }
            
            if ($("#startDate").val() > $("#endDate").val()) {
                alert("Start Date cannot be greater than End Date");
                return false;

            }

            var RoomInventory=
                {
                    RoomID:$("#roomTypeInvent").val().split('~')[0],
                    HotelID:$("#AgentHotelList").val(),
                    RoomType:$("#roomTypeInvent option:selected").text(),
                    StartDate:$("#startDate").val(),
                    EndDate:$("#endDate").val(),
                    DaysOfWeek:checkedValue.join(", "),
                    Available:$("#availableInventory").val(),
                }
            $.ajax
                ({
                    type:'POST',
                    url:"@Url.Action("SaveInventory","Agent")",
                    contentType: "application/json",
                    data: JSON.stringify({ RoomInventory: RoomInventory}),
                    success:function(result)
                    {

                        if(result==1)
                        {
                            $("#msg").append('<div style="width:100%;margin-left:15px;margin-right:15px;" class="alert alert-success"><strong>Success! </strong>Inventory have been added for '+$("#roomType option:selected").text()+' room type from '+$("#startDate").val()+' to '+$("#endDate").val()+'</div>')
                            setTimeout(function()
                            {$("#msg").empty()},5000)
                            BindRoomView("");
                        }
                        else
                        {
                            alert("Error");
                        }
                    }
                })
            return false;
        }
        function updateInventory(e)
        {
            var inventDate=document.getElementById("inventDate").innerHTML;
            var roomName=document.getElementById("roomName").innerHTML;
            var inventory=$("#newInventory").val();
            var roomID=$(e).attr("RoomID");
            $.ajax
                ({
                    type:'POST',
                    url:"@Url.Action("UpdateInventory","Agent")",
                    contentType:"application/json",
                    data:JSON.stringify({inventDate:inventDate,RoomID:roomID,Available:inventory}),
                    success:function(result)
                    {
                        if(result==1)
                        {
                            $.toast({
                                heading: 'Success',
                                text: 'Inventory has been updated for the date '+inventDate+".",
                                icon: 'success',
                                position: 'bottom-right'
                            });
                            $("#updateRoomInventory").modal('hide');
                            BindRoomView("");
                        }
                        else
                        {
                            $.toast({
                                heading: 'Error',
                                text: 'Something went wrong while updating room inventory for the date '+inventDate+".",
                                icon: 'error',
                                position: 'bottom-right'
                            });
                        }
                    }
                });
            return false;
        }

    </script>
</body>
</html>
