<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    @Styles.Render("~/Content/css")
    <link href="~/Content/jquery.toast.min.css" rel="stylesheet" />
</head>
<body class="login_body">
    <div class="login_header">
        <div class="container">
            <div class="login_top">
                <div class="top_nav agent_auth">
                    <span>Already have an account? <a href="/Agent/login/" class="btn btn-danger">Login now</a></span>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    @Scripts.Render("~/bundle/jquery")
    <script src="~/scripts/jquery.js"></script>
    <script src="~/scripts/jquery.nice-select.js"></script>
    <script src="~/scripts/jquery.toast.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip();
            $('select').niceSelect();
            $(".addProbtn").click(function () {
                $('.addProperty').removeClass("bounceInRight");
                $('.addProperty').removeClass("zoomIn");
                $('.addProperty').addClass("zoomOut");
                $('.hotelInfo').removeClass("bounceOutRight");
                $('.hotelInfo').addClass("bounceInRight");
                $('.hotelInfo').css("display", 'block');

            });
            $(".addProPre").click(function () {
                $('.addProperty').removeClass("zoomIn");
                $('.agent_register').removeClass("zoomOut");//bounceOutLeft
                $('.addProperty').removeClass("bounceInRight");
                $('.agent_register').addClass("zoomIn");//bounceOutLeft

                $('.addProperty').addClass("bounceOutRight");
                //   $('.passwordBase').css("display", 'none');

            });
            $(".hoteInfoPre").click(function () {
                $('.addProperty').removeClass("zoomOut");//bounceOutLeft
                $('.hotelInfo').removeClass("bounceInRight");
                $('.addProperty').addClass("zoomIn");//bounceOutLeft

                $('.hotelInfo').addClass("bounceOutRight");
                //   $('.passwordBase').css("display", 'none');

            });
            $(".nxt").click(function () {
                if ($('#emailId').val().trim() == "" || $('#emailId').val().trim() == null) {
                    calltoast("Please Enter a Valid Email");
                    emailId.focus();
                    return false;
                }
                if (!CheckEmail($('#emailId').val())) {
                    calltoast("It seems you have entered a invalid Email");
                    emailId.focus();
                    return false;
                }
                $('.emailBase').removeClass("zoomIn");
                $('.emailBase').addClass("zoomOut");
                $('.passwordBase').removeClass("bounceOutRight");
                $('.passwordBase').addClass("bounceInRight");
                $('.passwordBase').css("display", 'block');

            });
            $(".fa-arrow-left").click(function () {
                $('.passwordBase').removeClass("bounceInRight");
                $('.emailBase').addClass("zoomIn");
                $('.passwordBase').addClass("bounceOutRight");
                $('.emailBase').removeClass("zoomOut");
            });
        });
        function showPassword(event, id) {
            $(event).toggleClass("fa-eye-slash fa-eye");
            myFunction(id);
        }
        $('.btn-agentLogin').click(function () {
            let pass = $('#Password');
            if (pass.val() == '' || pass.val() == null) {
                calltoast("Enter the Password");
                pass.focus();
                return false;
            }
            else {
                return true;
            }
        });
        function checkEmail()
        {
            $.get("/User/GetEmail", { email: Email }, function (data) {
                if (data.res == true) {
                    return true;
                }
                else {
                    $.toast({
                        heading: 'Invalid Email ID',
                        text: 'This email id not registered with JAC rooms.',
                        showHideTransition: 'fade',
                        icon: 'error'
                    });
                    return false;
                }
        }



        function checkAgentRegister() {
            debugger;
            let fullName = $('#FullName');
            if (fullName.val().trim() == "" || fullName.val().trim() == null) {
                calltoast("Please Enter Your Name");
                fullName.focus();
                return false;
            }
            let HotelType = $('#HotelType');
            if (HotelType.val().trim() == "-1" || HotelType.val().trim() == null) {
                calltoast("Please Select Your HotelType");
                HotelType.focus();
                return false;
            }
            let emailId = $('#emailId');
            if (emailId.val().trim() == "" || emailId.val().trim() == null) {
                calltoast("Please Enter Your Email");
                emailId.focus();
                return false;
            }
            if (!CheckEmail(emailId.val())) {
                calltoast("It seems you have entered a invalid Email");
                emailId.focus();
                return false;
            }
            let password = $('#Password');
            if (password.val().trim() == '' || password.val().trim() == null) {
                calltoast("Please enter a Password");
                password.focus();
                return false;
            }
            if (password.val().trim() !== $('#CPassword').val().trim()) {
                calltoast("Password do not match");
                password.focus();
                return false;
            }
            var obj = {
                EmailID: emailId.val(),
                Password: password.val(),
                HotelType: HotelType.val(),
                FullName: fullName.val()
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("RegisterAgent")',
                data: JSON.stringify({ agentDetail: obj }),
                async : false,
                contentType: "application/json; charset=utf-8",
                beforeSend: function ()
                {
                    $('.spinner').addClass('fa fa-cog fa-spin');
                },
                success: function (response) {
                    if (response == '1')
                    {
                        $('.nextLogin').after('<p>Please Check Your Email to Authenicate Your Account </p>')
                        $('.spinner').removeClass('fa fa-cog fa-spin');
                    }
                },
                error: function () {
                    alert("Error while inserting data");
                            }
            });
            return false;
        }


    </script>
</body>
</html>
